.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}


.title {
    font-size: 72px;
    font-weight: bold;
}


.subtitle {
    font-size: 20px;
    margin-bottom: 20px;
}


.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}