.fav-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 25px;
}

.fav-card img {
  width: 100%;
  border-radius: 6px;
}

.fav-card button {
  margin-top: 10px;
  padding: 5px 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
