body {
  margin: 0;
  background-color: #141414;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
}

.nav-links a {
  margin-left: 20px;
  opacity: 0.8;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: red;
}
