.home-container {
  padding: 30px;
}

.movie-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}

.movie-card p {
  text-align: center;
  margin-top: 8px;
  font-size: 18px;
}
