.movie-swiper {
  padding: 10px 0;
}

.row-card {
  position: relative;
}

.fav-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  cursor: pointer;
}

.heart {
  font-size: 24px;
  transition: transform 0.2s ease;
}

.heart.clicked {
  transform: scale(1.3);
}

.row-card img {
  width: 100%;
  border-radius: 6px;
}

#movie-slider .swiper-button-next,
#movie-slider .swiper-button-prev {
  color: red;
  margin-top: -60px;
}