.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  z-index: 100;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-logo {
  font-size: 22px;
  font-weight: bold;
  color: red;
  text-decoration: none;
  margin-right: 20px;
}

.nav-link {
  color: #eee;
  text-decoration: none;
  font-size: 15px;
  opacity: 0.8;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid red;
  opacity: 1;
}

.navbar-right form {
  margin: 0;
}

.navbar-search-input {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  outline: none;
}
