
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: radial-gradient(circle at top, #0a0221, #000);
  color: white;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
